:root {
    /* vars */

    --hue1: 255;
    --hue2: 222;
    --border: 1px;
    --border-color: hsl(var(--hue2), 12%, 20%);
    --radius: 22px;

    --ease: cubic-bezier(0.5, 1, 0.89, 1);
}

aside.w-64.bg-cyber-gray.border-r.border-gray-800.flex.flex-col {
    background: transparent;
}
.flex.items-center.space-x-4 {
    margin-left: 7px;
}
.pad.border-gray-800 {
    padding: 5px;
}

.grid.grid-cols-1.md\:grid-cols-2.lg\:grid-cols-4.gap-6.mb-8 div.glass-panel {
    background: transparent;
}

.lg\:col-span-2 {
    background: #00000000;
}

.glass-panel.rounded-xl.p-6 {
    background: #00000000;
}